
@{
    ViewData["Title"] = "Simón dice";
}

<div class="text-center">
    <h2 class="display-4">Simón dice</h2>
    <p class="textojugar">¡A jugar!</p>
    <div class="alert alert-primary" role="alert">
        Racha: @ViewBag.contador
    </div>
    <img class="simondice" src="/images/simondice.png">
    

</div>
