@{
    ViewData["Title"] = "Simón dice";
}

<div class="text-center">
    <h2 class="display-4">Simón dice</h2>
    <p class="textojugar">¡A jugar!</p>
    <div class="alert alert-primary" role="alert">
        Racha: @ViewBag.contador
    </div>
    <form action='@Url.Action("procesarsimondice", "Home")' id="simondiceForm">
        <input type="hidden" name="color" id="selectedColor" value="null">
        <img class="simondice" src="/images/simondice.png" usemap="#color-map">
        <map name="color-map">
            <area class="poligono" coords="124,223,16,224,21,173,67,89,115,49,170,22,223,16,225,123,184,133,146,165,131,196,127,216" shape="poly" onclick="setColor('verde')">
            <area class="poligono" coords="265,128,241,124,240,16,281,21,324,35,369,62,396,90,424,127,444,180,448,221,443,222,375,223,342,224,330,185,313,161,299,149,286,139" shape="poly" onclick="setColor('rojo')">
            <area class="poligono" coords="62,367,35,321,18,270,16,240,70,241,95,240,126,241,131,269,144,292,160,314,172,322,192,333,223,341,224,388,223,449,184,443,139,426,110,413,85,391" shape="poly" onclick="setColor('amarillo')">
            <area class="poligono" coords="333,273,342,241,449,240,442,286,419,346,390,383,332,425,283,442,242,448,240,385,240,341,283,328,320,298" shape="poly" onclick="setColor('azul')"> 
        </map>

    </form>
    <p>El último color pulsado fue @ViewBag.color</p>
    <p>El último color elegido fue @ViewBag.colorElegido</p>


</div>
