@{
    ViewData["Title"] = "Simón dice";
}

<div class="text-center">
    <h2 class="display-4">Simón dice</h2>
    <p class="textojugar">¡A jugar!</p>
    <div class="alert alert-primary" role="alert">
        Racha: @ViewBag.contador
    </div>
    <form action='@Url.Action("procesarsimondice", "Home")'>
        <input type="hidden" name="color" id="selectedColor" value="null">
        <input type="image" class="simondice" src="/images/simondice.png" usemap="#colormap">
        <map name="colormap">
            <area class="poligono" shape="poly" coords="12,186,187,102,183,13,100,184" alt="Verde" onclick="setColor('verde')">
            <area shape="poly" coords="300,186,400,100,450,200,350,250" alt="Blue" onclick="setColor('azul')">
            <area shape="poly" coords="100,350,200,300,250,400,150,450" alt="Rojo" onclick="setColor('rojo')">
            <area shape="poly" coords="300,350,400,300,450,400,350,450" alt="Amarillo" onclick="setColor('amarillo')">
        </map>
    </form>
    <p>@ViewBag.color</p>


</div>
